<html>
<head>
<meta charset="UTF-8">
<title>Registration</title>
</head>
<body>
	<h1>Registration</h1>
	Hallo :
	<span th:text="${name}"> </span>
	</br> Time is:
	<span th:text="${time}"> </span>
	</br>

	<form action="/registration" method="post">
		<table>
			<tr>
				<td>Nama</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>Email</td>
				<td><input type="text"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" value="Registration"></td>
			</tr>
		</table>
	</form>
</body>
</html>